#body {
  margin: 5;
}

#message {
  /*  */
}

.error {
  padding: 10px;
  margin: 10px;
  color: #333;
  background: #fafafa;
  font: bold;
  font-size: 2em;
  color: #ba3939;
  background: #ffe0e0;
  /* border: 1px solid #a33a3a; */
}
